<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>The access records are:- </h1>
        <table border="3px">
            <tr>
                <th>Access_rec id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
            {% for ao in access_record %}
                <tr>
                    <td>{{ao.id}}</td>
                    <td>{{ao.name}}</td>
                    <td>{{ao.author}}</td>
                    <td>{{ao.date}}</td>
                    
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>